# Webscraping Data From Real Website using BeautifulSoup

### 1. Importing libraries and dataset

In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
url="https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue"
page=requests.get(url)
soup= BeautifulSoup(page.text, 'html')

In [ ]:
print(soup)

In [5]:
table=soup.find_all('table')[1]

In [ ]:
print(table)

In [12]:
world_titles=table.find_all('th')

In [13]:
world_titles

[<th>Rank
 </th>,
 <th>Name
 </th>,
 <th>Industry
 </th>,
 <th>Revenue <br/>(USD millions)
 </th>,
 <th>Revenue growth
 </th>,
 <th>Employees
 </th>,
 <th>Headquarters
 </th>]

In [15]:
world_table_titles=[title.text.strip() for title in world_titles]
print(world_table_titles)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [16]:
import pandas as pd

In [17]:
df=pd.DataFrame(columns=world_table_titles)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [19]:
column_data=table.find_all('tr')

In [25]:
#iterating through column_data to fetch individual row data
for row in column_data[1:]:
    row_data=row.find_all('td')
    individual_row_data=[data.text.strip() for data in row_data]
  
    length=len(df)
    df.loc[length]=individual_row_data

In [26]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,General merchandisers,"572,754",2.4%,"2,300,000","Bentonville, Arkansas"
1,2,Amazon,Retail and Cloud Computing,"469,822",21.7%,"1,608,000","Seattle, Washington"
2,3,Apple,Electronics industry,"365,817",33.2%,"154,000","Cupertino, California"
3,4,CVS Health,Healthcare,"292,111",32.0%,"258,000","Woonsocket, Rhode Island"
4,5,UnitedHealth Group,Healthcare,"287,597",11.8%,"350,000","Minnetonka, Minnesota"
...,...,...,...,...,...,...,...
95,96,General Dynamics,Airspace and defense,"38,469",8.7%,"103,100","Reston, Virginia"
96,97,CHS,Agriculture cooperative,"38,448",1.4%,"9,941","Inver Grove Heights, Minnesota"
97,98,USAA,Financials,"37,470",3.2%,"37,335","San Antonio, Texas"
98,99,Northwestern Mutual,Insurance,"36,751",8.8%,"7,585","Milwaukee, Wisconsin"
99,100,Nucor,Metals,"36,484",81.2%,"28,800","Charlotte, North Carolina"

In [27]:
#Exporting table in csv
df.to_csv(r'C:\Users\User01\Webscraping using BeautifulSoup\Companies By Revenue.csv', index=False)